/* ====== Layout ====== */	
#container {
	width: 960px;
	overflow:hidden;
}

.layout-2c-l #content,
.layout-2c-r #content {
	float: left;
	width: 70%;
}

#sidebar-primary,
#sidebar-secondary {
	width: 25%;
}
	
.layout-2c-l #sidebar-primary {
	float: right;
}

.layout-2c-r #content {
	float: right;
}
.layout-2c-r #sidebar-primary {
	float: left;
}

/* ====== Header ====== */

#site-title {
	float: left;
	text-align: left;
}

/* ====== Respond/Comments ====== */

#comments {
	margin: 0 0 50px;
}
ol.comment-list ol.children {
	margin: -25px 0 0 25px;
	padding: 25px 0 0 25px;
}

#respond input[type="text"],
#respond input[type="password"],
#respond input[type="email"] {
	display: block;
	width: 50%;
	min-width: 400px;
	padding: 10px 25px;
}

/* ====== Subsidiary sidebar ====== */

#sidebar-subsidiary .widget {
	float: left;
	width: 22%;
	padding: 0 4% 0 0;
}
#sidebar-subsidiary .widget:last-child {
	padding: 0;
}

/* ====== Footer ====== */

#footer .copyright {
	float: left;
	width: 49%;
	text-align: left;
}
#footer .credit {
	float: right;
	width: 49%;
	text-align: right;
}

/* ====== Primary Menu ====== */

.menu-toggle {
	display: none;
}

#menu-primary ul {
	list-style: none;
	margin: 0;
	text-align: center;
}

#menu-primary .menu-items {
	zoom: 1;
}

#menu-primary .menu-items::before,
#menu-primary .menu-items::after {
	content: "";
	display: table;
}

#menu-primary .menu-items::after {
	clear: both;
}

#menu-primary .menu-items > ul {
	width: 100%;
	margin: 60px auto;
}

#menu-primary ul ul {
	position: absolute;
	z-index: 1;
	top: 45px;
	visibility: hidden;
	margin: 20px 0 0;
	text-align: left;
	border: 1px solid #F0F0F0;
	background: #fff;
}

#menu-primary li:hover > ul {
	visibility: visible;
	margin: 0;
}

#menu-primary ul ul ul {
	top: 0;
	left: 230px;
	margin: 0 0 0 20px;
}

#menu-primary li {
	position: relative;
	float: left;
	display: inline-block;
}

#menu-primary li a {
	display: inline-block;
	padding: 13px 20px;
	border-bottom: none;
	text-decoration: none;				
}
#menu-primary li a:hover,
#menu-primary li:hover > a {
	color: #666666;
}
#menu-primary li li a {
	color: #aaa;				
	font-size: 12px;
	font-size: 0.75rem;
}

#menu-primary li li a:hover,
#menu-primary li li:hover > a {
	background: #f9f9f9;
}

#menu-primary ul ul li {
	display: block;
	float: none;
	border-bottom: 1px solid #F0F0F0;
}

#menu-primary ul ul li a {
	display: block;
	float: none;
	width: 190px;
}