/**
Theme Name: Plain WP
Theme URI: http://themehall.com/plain-wp-free-responsive-wordpress-theme/
Description: A responsive, mobile first parent theme built on top of Hybrid Core
Tags: light, one-column, two-columns, right-sidebar, left-sidebar, flexible-width, custom-background, custom-menu, theme-options, threaded-comments, sticky-post, translation-ready
Version: 0.1.7
Author: ThemeHall
Author URI: http://themehall.com/about/
License: GNU General Public License v2.0
License URI: http://www.gnu.org/licenses/gpl-2.0.html

Plain WP, Copyright 2013 themehall.com

*/

/**
 * Fonts - Declare @font-face here.
 * --------------------------------------------------------------------------- */

/**
 * Reset
 * --------------------------------------------------------------------------- */
 
html, body, div, span, object, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	vertical-align: baseline;
	outline: none;
	font-size: 100%;
	background: transparent;
	border: none;
	text-decoration: none;
	}
	
/**
 * Defaults
 * --------------------------------------------------------------------------- */
	
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
}
	
html {
	font-size: 100%;
}

body {
	overflow-x: hidden;
	line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	color: #888888;
	background-color: #f5f5f5;
}

p {
	margin: 0 0 25px 0;
}


a {
	color: #999;
	text-decoration: underline;
}

a:hover {
	color: #bbb;
}

h1, h2, h3, h4, h5, h6 {
	font-style: normal;
	font-weight: normal;
	margin: 0 0 25px 0;
}
	
h1 {
	font-size: 25px;
}

h2 {
	font-size: 23px;
}

h3 {
	font-size: 21px;
}

h4 {
	font-size: 19px;
}

h5 {
	font-size: 19px;
}

h6 {
	font-size: 15px;
}

ol, ul {
	list-style: none;
}

ul {
	list-style: disc;
	margin: 0 0 25px 48px;
}

ol {
	list-style-type: decimal;
	margin: 0 0 25px 48px;
}

ol ol {
	list-style: upper-roman;
}

ol ol ol {
	list-style: lower-roman;
}

ol ol ol ol {
	list-style: upper-alpha;
}

ol ol ol ol ol {
	list-style: lower-alpha;
}

ul ul, ol ol, ul ol, ol ul {
	margin-bottom: 0;
}

dl {
	margin: 0 0 25px 5px;
}

dl dt {
	font-weight: bold;
	margin: 10px 0 0 0;
}

dl dd {
	margin: 5px 0 0 24px;
}

strong {
	font-weight: bold;
}

strong strong {
	font-weight: normal;
}

em, cite {
	font-style: italic;
}

em em, cite cite {
	font-style: normal;
}

abbr {
	cursor: help;
}
	
blockquote {
	font-style: italic;
	color: #959595;
	margin: 0 25px;
}

blockquote cite {
	padding: 0 10px;
	font-variant: small-caps;
	font-style: italic;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

code {
	padding: 1px 2px;
	font-size: 15px;
	background: #f5f5f5;
}

pre {
	padding: 25px;
	border: 1px solid #e5e5e5;
	background: #f5f5f5;
	word-wrap: normal;
	overflow: auto;
	font-family:Monaco,monospace,Courier,"Courier New";
	line-height: 25px;
	margin-bottom: 25px;
}

pre code {
	padding: 0;
	font-size: 16px;
}

acronym {
	text-transform: uppercase;
	border-bottom: 1px dashed #666;
	cursor: help;
}

big {
	font-size: 120%;
}

small, sup, sub {
	font-size: 80%;
}

sup {
	vertical-align: baseline;
	position: relative;
	bottom: 0.3em;
}

sub {
	vertical-align: baseline;
	position: relative;
	top: 0.3em;
}
	
address {
	margin: 0 0 25px;
}

.comment-text ul,
.comment-text ol {
	margin-bottom: 25px;
}

.comment-text ul ul,
.comment-text ol ol {
	margin-bottom: 0;
}

form select {
	max-width: 100%;
}
	
form label {
	cursor: pointer;
}
table {
	width: 100%;
	border: 1px solid #e5e5e5;
	border-collapse: collapse;
	border-spacing: 0;
	margin-bottom: 25px;
}

table caption {
	margin: 0 0 5px;
	font-size: 15px;
	font-variant: small-caps;
}

th,td {
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

hr {
	height: 1px;
	margin-bottom: 25px;
	background: #333;
}

.widget th,
.widget td {
	padding: 5px 2px;
}

th {
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	background: #f5f5f5;
	font-size: 15px;
	font-weight: normal;
	text-align: left;
}

td {
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
}

/* wp-calendar */
#wp-calendar th,
#wp-calendar td {
	text-align: center;
}

#wp-calendar thead {
	border-top: 1px solid #e5e5e5;
}

#wp-calendar thead,
#wp-calendar tbody {
	border-left: 1px solid #e5e5e5;
}

#wp-calendar thead th {
	background: #e5e5e5;
	color: #000000;
	font-size: 13px;
}

#wp-calendar tbody td.pad {
	background: #f5f5f5;
}

#wp-calendar tbody td {
	font-size: 15px;
	background: #fff;
}

#wp-calendar tbody a {
	display: block;
	font-weight: bold;
}

#wp-calendar,
#wp-calendar tfoot tr,
#wp-calendar tfoot td {
	background: transparent;
	border: none;
}

/* === Forms === */

button,
input,
select,
textarea {
	font-size: 100%;
 /* Corrects font size not being inherited in all browsers */
	vertical-align: baseline;
 /* Improves appearance and consistency in all browsers */
	*vertical-align: middle;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	cursor: pointer;
	-webkit-appearance: button;
	padding: 9px 12px;
	background: #909090;
	color: #fff;
	border: none;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	background: #999;
	color: #fff;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE9 */
	padding: 0; /* Addresses excess padding in IE9 */;
}

input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #e9e9e9;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"] {
	padding: 9px 12px;
	;
}

textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* === Alignement (WP classes) === */

.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
}

.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
}

.aligncenter {
	display: block;
	clear: both;
	margin: 0 auto;
}

/**
 * Images
 * --------------------------------------------------------------------------- */

img {
	max-width: 100%;
	height: auto;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a img {
	border: 1px solid #e5e5e5;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a:hover img {
	border: 1px solid #d5d5d5;
}

/* === Thumbnails === */

.thumbnail,
.post-thumbnail {
	float: left;
	max-width: 190px; /* 160 (size) + 30 (padding) - account for the border-box sizing */
	max-height: 150px; /* 120 + 30 */
	margin: 0 25px 25px 0;
}


/* === Captions === */

.wp-caption {
	max-width: 100%;
}

.wp-caption-text {
	margin: 0;
	padding: 0 25px;
	text-align: center;
	font-size: 95%;
	color: #959595;
}

.wp-caption-text a {
	border-bottom: 1px solid transparent;
	font-style: normal;
	font-size: 18px;
}

.wp-caption-text a:hover {
	border-bottom: 1px solid #d5d5d5;
	background: #e5e5e5;
	text-decoration: none;
}

/**
 * Cleaner Gallery Style
 * @version 0.9.5
 */

.gallery {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0 auto 20px;
}
.gallery .gallery-row {
	display: block;
	clear: both;
	overflow: hidden;
	margin: 0;
}
.gallery .gallery-item {
	overflow: hidden;
	float: left;
	margin: 0 0 16px;
	text-align: center;
	list-style: none;
	padding: 0;
}
.gallery .gallery-item .gallery-icon {
	position:relative;
}
.gallery .gallery-item .gallery-icon img {
	width: auto;
	max-width: 89%;
	height: auto;
	padding: 5%;
	margin: 0 auto;
	border: 1px solid #E5E5E5 !important;
}

.gallery-caption {
	margin: 0 3%;
	color: #959595;
}

.gallery-icon img:hover,
.gallery-row img:hover,
.tiled-gallery-item img:hover {
	opacity: 0.9;	
	filter:alpha(opacity=90); /* For IE8 and earlier */
}

/* Image sizes depending on the number of columns */
.gallery .col-0 { width: 100%; }
.gallery .col-1 { width: 100%; }
.gallery .col-2 { width: 50%; }
.gallery .col-3 { width: 33.33%; }
.gallery .col-4 { width: 25%; }
.gallery .col-5 { width: 20%; }
.gallery .col-6 { width: 16.66%; }
.gallery .col-7 { width: 14.28%; }
.gallery .col-8 { width: 12.5%; }
.gallery .col-9 { width: 11.11%; }

.singular-attachment .gallery-caption {
	display: none;
}

/* === Avatars === */

.avatar {
	border: 1px solid #efefef;
	background: #f5f5f5;
}

a .avatar {
	border-color: #e5e5e5;
}

a:hover .avatar {
	border-color: #d5d5d5;
	background: #efefef;
}

li.comment .avatar {
	float: left;
	margin: 0 15px 15px 0;
}

.format-status .avatar {
	float: left;
	margin: 0 25px 25px 0;
}

/**
 * Layout
 * ---------------------------------------------------------------------------*/
#container {
	width: 94%;
	padding: 3% 3% 2%;
	margin: 2% auto 5%;
	background: white;
}

#header {
	margin: 0 0 32px;
}

#content {
	width: 100%;
}

#sidebar-primary {
	width: 100%;
	padding: 25px 0 0 0;
}

/* Don't show on theme customizer. */
.layout-1c #sidebar-primary {
	display: none;
}

#footer {
	clear: both;
}

/**
 * Header
 * ---------------------------------------------------------------------------*/
#header {
	border-bottom: 1px solid #F0F0F0;
}

#site-title {
	margin: 0 0 12px 0;
	display: inline;
	font-size: 25px;
}

#site-title a {
	border-bottom: none;
	text-decoration: none;
	color:#666;
}

#subheader {
	clear: both;
	border-top: 1px solid #F0F0F0;
}

#site-description {
	padding: 16px 0;
	margin: 0;
	font-size: 20px;
	font-weight: normal;
	text-align: center;
}

#menu-primary {
	display: block;
	margin: 0 0 16px;
	text-align: left;
	float: right;	
}

/**
 * Menus
 * ---------------------------------------------------------------------------*/
/*
 * The menu in this theme is located in the media queries section. It is based on
 * something from Justin Tadlock's personal version of Chun (http://justintadlock.com)
 * and the Shell theme by David Chandra (http://themehybrid.com/themes/shell).
 */
/**
 * Content
 * ---------------------------------------------------------------------------*/
/* ====== BREADCRUMBS ====== */
.breadcrumb-trail {
	color: #CCCCCC;
	font-size: 12px;	

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.breadcrumb-trail .sep,
.breadcrumb-trail a,
.breadcrumb-trail .trail-end {
	margin-left: 5px;
}

.breadcrumb-trail .trail-begin {
	margin-left: 0;	
}

.breadcrumb-trail .trail-end {
	color: #aaa;
}

/* ====== POSTS ====== */
.hentry,
.attachment-meta {
	padding: 20px 0;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.sticky {
	padding: 25px;
	background: #fafafa;
}

/* === Post Header === */
.entry-title {
	word-wrap: break-word;
	font-size: 25px;
	margin-bottom: 15px;
	color:#555;
}

.entry-title a {
	text-decoration: none;
	color:#555;
}

.entry-title a:hover {
	color:#bbb;	
}

.entry-byline,
.entry-meta {
	font-size: 12px;
	margin: 0 0 25px;
	color: #aaa;
}

.entry-byline a {
	padding: 0 2px;
	border-bottom: 1px solid transparent;
	font-style: normal;
}

.entry-byline .published,
.entry-meta .published {
	border-bottom: none;
	font-style: normal;
}

/* === Post content and excerpts === */
.entry-content,
.entry-summary {
	word-wrap: break-word;
}

/* === Post Footer === */
.entry-meta {
	margin: 0 0 10px;
}

.entry-meta a {
	padding: 0 2px;
	font-style: normal;
}

.entry-meta .published .entry-meta abbr {
	border-bottom: 1px dotted #d5d5d5;
	font-style: normal;
	font-variant: small-caps;
	font-size: 17px;
}

/* === Asides === */
.format-aside .entry-content {
	color: #858585;
	font-size: 20px;
}

.format-aside .entry-content a.permalink {
	font-weight: bold;
}

/* === Chats === */
.singular-post .format-chat .entry-summary {
	color: #959595;
	font-style: italic;
}

.format-chat .chat-text {
	margin-left: 25px;
	color: #666;
}

.format-chat cite {
	border-bottom: 1px solid #00717E;
	padding: 0 0 2px;
	font-style: normal;
	font-weight: bold;
	font-variant: small-caps;
}

.format-chat .chat-speaker-1 cite {
	border-color: #000000;
	color: #000000;
}

.format-chat .chat-speaker-2 cite {
	border-color: #222222;
	color: #222222;
}

.format-chat .chat-speaker-3 cite {
	border-color: #444444;
	color: #444444;
}

.format-chat .chat-speaker-4 cite {
	border-color: #666666;
	color: #666666;
}

.format-chat .chat-speaker-5 cite {
	border-color: #888888;
	color: #888888;
}

/* === Links === */
.format-link .entry-title {
	margin: 0 0 23px;
	text-align: left;
}

.singular .format-link .entry-title {
	text-align: center;
}

/* === Galleries === */
.format-gallery .image-count {
	color: #959595;
	font-style: italic;
}

/* === Quotes === */
.format-quote blockquote {
	margin: 0;
	font-size: 20px;
	font-style: italic;
}

.format-quote blockquote cite {
	font-size: 18px;
	text-align: right;
}

/* === Status updates === */
.format-status .entry-header a:hover {
	background: none;
}

.format-status .entry-content {
	margin-top: 12px;
	color: #858585;
	font-size: 20px;
}

/* === Audio and Video === */
object,
embed,
iframe,
video {
	max-width: 100%;
	margin-bottom: 25px;
}

p object,
p embed,
p iframe,
p video {
	margin: 0;
}

.embed-wrap {
	position: relative;
	height: 0;
	overflow: hidden;
	padding-top: 30px;
	margin-bottom: 25px;
	padding-bottom: 56.25%;
}

.embed-wrap iframe,
.embed-wrap object,
.embed-wrap embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.format-video .entry-summary,
.format-audio .entry-summary {
	color: #858585;
	font-style: italic;
	text-align: center;
}

.format-video .entry-summary a,
.format-audio .entry-summary a {
	font-style: normal;
}

/* ====== Attachment Meta (on image attachment pages) ====== */
.attachment-meta .image-gallery {
	width: 100%;
}

/* ====== LOOP META ====== */
.loop-meta {
	background: #fff;
	font-size: 17px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.loop-title {
	font-size: 29px;
	color: #444444;
	margin: 15px 0 10px;
}

.loop-description {
	color: #959595;
	font-size: 1.8px;
}

.loop-description em {
	font-style: normal;
}

.loop-description a {
	display: inline-block;
	padding: 0 2px;
	border-bottom: 1px solid transparent;
	font-style: normal;
	font-size: 19px;
}

.loop-description a:hover {
	border-bottom: 1px solid #d5d5d5;
	background: #e5e5e5;
	color: #656565;
	text-decoration: none;
}

/* ====== PAGINATION ====== */
/* === Single posts using <!--nextpage--> === */
.page-links {
	clear: both;
	padding: 25px 0 0;
}

.page-links .before {
	margin-right: 5px;
}

.page-links a {
	display: inline-block;
	margin: 0 5px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}


/* === Single post and Archive-type navigation (between different posts) === */
.loop-pagination,
.loop-nav {
	clear: both;
	margin: 0 0 50px;
}

.page-numbers,
.loop-nav a {
	display: inline-block;
	margin: 2px;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.loop-nav a[rel="prev"] {
	float: left;
	margin: 0;
}

.loop-nav a[rel="next"] {
	float: right;
	margin: 0;
	text-align: right;
}

.page-numbers.current {
	font-weight:bold;
}

/* === Comments pagination === */
.comments-nav {
	position: relative;
	margin: -60px 0 35px;
	text-align: right;
}

.comments-nav .page-numbers {
	margin: 0 5px;
	padding: 0;
	border: none;
	background: transparent;
	font-style: italic;
}

/**
 * Sidebars and widgets
 * --------------------------------------------------------------------------- */

/* ====== General ====== */
.widget {
	margin:0 0 25px;	
}

.widget-tags a {
	display: inline-block;
}

.widget-search label {
	font-style: italic;
}

.widget-search input[type="text"] {
	display: block;
	width: 100%;
	padding: 12px;
	border: 1px solid #d5d5d5;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

.widget-search input[type="submit"] {
	display: none;
}

.widget-search input[type="text"]:focus {
	border-color: #e5e5e5;
	color: #454545;
	background: #f5f5f5;
}

.widget ul {
	margin: 0 0 5px 16px;
}

.widget .widget-title {
	font-size: 11px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

/* Subsidiary sidebar */
#sidebar-subsidiary {
	border-top: 1px solid #F0F0F0;
	overflow: hidden;
	width: 100%;
	margin: 0 auto;
	padding: 25px 0 0 0;
}

#sidebar-subsidiary .widget {
	float: left;
	width: 100%;
	margin: 0 0 25px 0;
}

#sidebar-subsidiary .widget ul {
	list-style: disc;
}

/**
 * Comments Template
 * ---------------------------------------------------------------------------*/
#comments {
	position: relative;
	margin: 0 0 25px;
	padding: 40px 0px 25px 0px;
	border-top: 1px solid #F0F0F0;
	background: #fff;
}

/* === Comments closed message === */
.comments-closed {
	padding: 25px 0 0;
	border-top: 1px solid #e5e5e5;
	font-style: italic;
	text-align: center;
}

/* === Comment list === */
ol.comment-list {
	margin: 0 0 25px;
	list-style: none;
}

ol.comment-list ol.children {
	margin: -25px 0 0 12px;
	padding: 25px 0 0 12px;
	list-style: none;
}

/* === Individual comments */
li.comment,
li.ping {
	clear: both;
}

li.ping {
	margin: 0 0 25px;
	padding: 25px 25px 0;
	border: 1px solid #efefef;
	background: #f5f5f5;
}

/* === Avatars === */
li.ping .avatar {
	float: right;
	margin: 0 0 25px 25px;
}

/* === Meta === */
.comment-meta {
	margin-left:63px;
}

.comment-author {
	display: block;
}

.comment-author cite {
	font-style: normal;
}

/* === Comment text/content === */
.comment-text {
	clear: left;
	margin: 0 0 15px 63px;
	word-wrap: break-word;
}

.comment-text p {
	margin:0 0 15px;
}

/* === Reply link === */
.comment-reply-link {
	position: relative;
	display: inline-block;
	margin: -25px 10px 25px 63px;
	padding: 2px 15px;
	font-size: 12px;
	font-style: italic;
	color: #fff;
	background: #909090;
	text-align: center;
	text-decoration: none;
}

.comment-reply-link:hover {
	background: #999;
	color: #fff;
}

/* ====== RESPOND (COMMENT FORM) ====== */

#respond label .required {
	font-weight: bold;
	color: red;
}

#respond input[type="text"],
#respond input[type="password"],
#respond input[type="email"],
#respond input[type="submit"],
#respond textarea {
	border: 1px solid #d5d5d5;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#respond input[type="text"]:focus,
#respond input[type="password"]:focus,
#respond input[type="email"]:focus,
#respond input[type="submit"]:hover,
#respond input[type="submit"]:focus,
#respond textarea:focus {
	background: #f5f5f5;
	border-color: #e5e5e5;
}

#respond input[type="text"],
#respond input[type="password"],
#respond input[type="email"] {
	width: 100%;
	min-width: 100%;
}

#respond textarea {
	width: 100%;
	padding: 20px;
}

#respond input[type="submit"] {
	padding: 12px 20px;
	border:none;
}

#respond input[type="submit"]:hover {
	color:#fff;
	background:#999;	
}

/**
 * Footer
 * ---------------------------------------------------------------------------*/
#footer {
	font-size:12px;
	border-top: 1px solid #F0F0F0;
	padding:2% 0 0;
}

#footer .copyright {
	float: left;
	text-align: center;
	width: 100%;
	padding: 0.938em 0;
	margin: 0;
}

#footer .credit {
	float: left;
	text-align: center;
	width: 100%;
	padding: 0.938em 0;
	margin: 0;
}

/**
 * Media Queries
 * --------------------------------------------------------------------------- */

@media only screen and (min-width: 45em) {
	/* ====== Layout ====== */	
	#container {
		max-width: 960px;
	}

	.layout-2c-l #content,
	.layout-2c-r #content {
		float: left;
		width: 70%;
	}

	#sidebar-primary,
	#sidebar-secondary {
		width: 25%;
	}
		
	.layout-2c-l #sidebar-primary {
		float: right;
	}

	.layout-2c-r #content {
		float: right;
	}
	.layout-2c-r #sidebar-primary {
		float: left;
	}

	/* ====== Header ====== */

	#site-title {
		float: left;
		text-align: left;
	}
	
	/* ====== Respond/Comments ====== */

	#comments {
		margin: 0 0 50px;
	}
	ol.comment-list ol.children {
		margin: -25px 0 0 37px;
		padding: 25px 0 0 25px;
	}

	#respond input[type="text"],
	#respond input[type="password"],
	#respond input[type="email"] {
		display: block;
		width: 50%;
		min-width: 400px;
		padding: 10px 25px;
	}

	/* ====== Subsidiary sidebar ====== */

	#sidebar-subsidiary .widget {
		float: left;
		width: 22%;
		padding: 0 4% 0 0;
	}
	#sidebar-subsidiary .widget:last-child {
		padding: 0;
	}

	/* ====== Footer ====== */

	#footer .copyright {
		float: left;
		width: 49%;
		text-align: left;
	}
	#footer .credit {
		float: right;
		width: 49%;
		text-align: right;
	}

	/* ====== Primary Menu ====== */

	.menu-toggle {
		display: none;
	}

	#menu-primary ul {
		list-style: none;
		margin: 0;
		text-align: center;
	}

	#menu-primary .menu-items {
		zoom: 1;
	}

	#menu-primary .menu-items::before,
	#menu-primary .menu-items::after {
		content: "";
		display: table;
	}

	#menu-primary .menu-items::after {
		clear: both;
	}

	#menu-primary .menu-items > ul {
		width: 100%;
		margin: 60px auto;
	}

	#menu-primary ul ul {
		position: absolute;
		z-index: 1;
		top: 45px;
		visibility: hidden;
		margin: 20px 0 0;
		text-align: left;
		border: 1px solid #F0F0F0;
		background: #fff;
	}

	#menu-primary li:hover > ul {
		visibility: visible;
		margin: 0;
	}

	#menu-primary ul ul ul {
		top: 0;
		left: 230px;
		margin: 0 0 0 20px;
	}

	#menu-primary li {
		position: relative;
		float: left;
		display: inline-block;
	}

	#menu-primary li a {
		display: inline-block;
		padding: 13px 20px;
		border-bottom: none;
		text-decoration: none;				
	}
	#menu-primary li a:hover,
	#menu-primary li:hover > a {
		color: #666666;
	}
	#menu-primary li li a {
		color: #aaa;				
		font-size: 12px;
	}

	#menu-primary li li a:hover,
	#menu-primary li li:hover > a {
		background: #f9f9f9;
	}

	#menu-primary ul ul li {
		display: block;
		float: none;
		border-bottom: 1px solid #F0F0F0;
	}

	#menu-primary ul ul li a {
		display: block;
		float: none;
		width: 190px;
	}
}

@media only screen and (max-width: 64em) { /*1024px */	
	#container {
		margin: 0 auto 0;
		overflow:hidden;
	}			
}
@media only screen and (max-width: 45em) { /*720px */	
	#site-title {
		line-height: 25px;
	}
	/* ====== Primary Menu ====== */

	#menu-primary {
		text-align: right;
		margin-top: -33px;
    	width: 100%;
	}
	.menu-toggle {
		position: relative;
		display: inline-block;
		cursor: pointer;
		margin: 0 auto;
		line-height: 21px;
		font-size: 15px;
		
		background: #232323;
		width: 35px;
	}
	.menu-toggle:hover,
	.menu-toggle.active {
		color: #000;
		text-decoration: underline;
		background-position: 0 -21px;
	}
	
	.menu-toggle span {
		border-bottom: 13px double #FFFFFF;
		border-top: 4px solid #FFFFFF;
		display: block;
		height: 5px;
		margin: 5px;
	}

	#menu-primary .wrap {
		position: relative;
		z-index: 999;
		display: none; /* visibility will be toggled with jquery */
		clear: both;
		width: 100%;
		margin: 0px auto 0;
		padding: 0px 25px 0 0;
		text-align: left;
	}
	
	#menu-primary ul {
		background: #232323;
		list-style:none;	
		margin:0;
	}
	
	#menu-primary ul ul a {
		padding: 8px 40px;
	}
	
	#menu-primary li a {
		border-bottom: 1px solid #BBBBBB;
		color: #FFFFFF;
		display: block;
		padding: 8px 15px;
		text-decoration: none;
	}
	
	#menu-primary li a:hover {
		background:#333;	
	}
}

/**
 * Clearing Floats
 * --------------------------------------------------------------------------- */

.clearfix::after,
#container::after,
#header::after,
#header .wrap::after,
.widget::after,
.hentry::after,
.entry-summary::after,
.entry-content::after,
.attachment-meta::after,
.loop-meta::after,
.loop-nav::after,
li.comment::after, li.pingback::after, li.trackback::after,
.gallery::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}